<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="survey-container">
    <h2>{{ currentQuestion?.question_text }}</h2> 
    <form [formGroup]="surveyForm">
        <div class="options-container" *ngFor="let answer of currentQuestion?.answers; index as i">
            <input type="radio" [value]="answer.id_answer" formControlName="selectedAnswer">
            <label>{{ answer.answer_text }}</label> 
        </div>
        <button type="button" (click)="prevQuestion()">У початок</button>
        <button type="button" (click)="nextQuestion()">Вперёд</button>
    </form>

    <div *ngIf="recommendedSubscription" class="recommendation">
      Рекомендований вид абонемента: {{recommendedSubscription.type_name}}
      <a href="/subscription-purchase" class="button">Купить абонемент</a>
    </div>
  
    <div *ngIf="recommendedCoaches" class="recommendation">
      Рекомендовані тренера: {{recommendedCoaches.name}}, {{recommendedCoaches.surname}}, {{recommendedCoaches.rating}}
      <a href="/coach-selection" class="button">Выбрать тренера</a>
    </div>
</div>

</body>
</html>
