<footer>
  <div class="container">
    <h2 class="footer__header">THE <br> BODY<br> CLUB<br></h2>
    <div class="footer__subheader_item">
      <h4 class="footer__subheader">Keep in Touch</h4>
      <div class="footer__subheader_text">
        Join our newsletter to receive exclusive recipes, discounts, new course updates, and more.
      </div>
    </div>

    <div class="footer__email_btn">
      <input type="email" class="email_input">
      <button class="send_user_email_btn" onclick="">SEND</button>
    </div>

    <div class="footer__links">
      <a href="" class="">BLOGS</a>
      <a href="" class="">SECURITY</a>
      <a href="" class="">BUSINESS</a>
      <a href="" class="">TEAM</a>
      <a href="" class="">TERMS AND CONDITIONS</a>
      <a href="" class="">COMMUNITY</a>
      <a href="" class="">CAREERS</a>
      <a href="" class="">CONTACT US</a>
    </div>

    <div class="footer__social">
      <div class="download_app_store">
        <div class="app_store_img">

        </div>
        <div class="download_app_store_text">

        </div>
      </div>
      <div class="social_images">
        <img src="" alt="twitter" class="twitter_img">
        <img src="" alt="instagram" class="instagram_img">
        <img src="" alt="facebook" class="facebook_img">
        <img src="" alt="youtube" class="youtube_img">
      </div>
    </div>

  </div>
</footer>
