<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness-Club</title>
  </head>
  <body class="page__body">
    <div class="container">
      <main class="main">
        <app-header></app-header>
        <section class="landing">
          <div class="landing__wrapper">
            <h1 class="landing__header">The<br> Body<br> Club</h1>
            <h2 class="landing__subheader">
              GIVE YOUR BODY<br>
              THE LOVE IT<br>
              DESERVES.
            </h2>
            <a href="home/#subscriptions">
            <button class="button button-primary">ПРИДБАТИ</button>
            </a>
          </div>
        </section>
        <app-description></app-description>
        <app-workouts></app-workouts>
        <app-subscription></app-subscription>
        <app-coach></app-coach>
      </main>
    </div>
  </body>
</html>
