<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness-Club</title>
  </head>
  <body class="page__body">
          <section class="landing">
            <app-header></app-header>
            <div class="landing__wrapper">
              <h1 class="landing__header">The<br> Body<br> Club</h1>
              <h2 class="landing__subheader">
                GIVE YOUR BODY<br>
                THE LOVE IT<br>
                DESERVES.
              </h2>
              <button class="button button-primary"><a href="home/#subscriptions">ПРИДБАТИ</a></button>
            </div>
            </section>
          <app-description></app-description>
          <app-workouts></app-workouts>
          <app-subscription></app-subscription>
          <app-coach></app-coach>
          <app-footer></app-footer>
  </body>
</html>
