<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="subscriptions">
    <div class="container">
      <div class="header">
        <h1>НАШІ АБОНЕМЕНТИ</h1>
        <p>Оберіть абонемент який більш усього вам підходить.</p>
      </div>
  
      <div class="subscriptions__wrapper">
        <ng-container *ngIf="subscriptions.length > 0; else noSubscriptions">
          <div *ngFor="let sub of subscriptions" class="subscription__item">
            <div class="subscription__content">
              <h2>{{ sub.type_name }}</h2>
              <h3>{{ sub.price }} UAH</h3>
              <h4>{{ sub.description }}</h4>
              <button routerLink="/order-subscription">ОТРИМАТИ</button>
            </div>
          </div>
        </ng-container>
  
        <ng-template #noSubscriptions>
          <p>На жаль зараз абонементи відсутні.</p>
        </ng-template>
      </div>
      <div class="survey-form">
        <h4>Не можете вибрати підписку? Спробуйте пройти опитування!</h4>
        <button routerLink="/survey">Рекомендаційне опитування</button>
      </div>
    </div>
  </section>  
</body>
</html>
