
.schedules {
  background-color: #F4EEEE;
  padding: 20px;
  
  &__header {
    text-align: center;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  

  &__item {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
  }

  &__item:hover {
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.3); /* Изменение тени при наведении */
  }

  &__details {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__filters {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    /* align-content: center; */

  }

  

  &__input_f {
    width: 210px;
    height: 40px;
    background: #FFF;
    border: none;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 20px;
    padding: 10px; 
    font-size: 16px; 
    transition: border-color 0.3s ease;
  }
  
}

