<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="coach_schedules">
    <h2 class="schedules__header">Записи на тренування</h2>
    <div class="container">
      <div class="book_form">
      <div class="schedule-item" *ngFor="let item of schedule">
        <div class="schedule-details">
          <p><strong>Дата та час зайняття:</strong> {{item.work_date }} - {{item.workPeriod_Start }} - {{item.workPeriod_End }}</p>
          <p><strong>Додаткова інформація:</strong> {{item.additional_info}}</p>
          <p><strong>Ім'я тренера:</strong> {{item.coach.name}}</p>
          <p><strong>Прізвище тренера:</strong> {{item.coach.surname}}</p>
        </div>
        <button class="booking-button" routerLink="/training-booking/{{item.id_schedule}}">Забронювати</button>
      </div>
    </div>
    <button class="home-button" routerLink="/home">На головну</button>
  </div>
  </section>
</body>
</html>
