<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="description">
    <div class="container">
      <div class="description__wrapper">
        <h2 class="description__header">The Body Club</h2>
        <div class="description__content">
        <div class="description__img_wrapper">
          <img src="https://i.imgur.com/WBLHWpj.png" alt="equipment">
        </div>
        <div class="description__text_equipment">THE BODY CLUB це ваше єдине місце призначення, де ми пропонуємо різноманітні варіанти, які допоможуть вам досягти ваших фітнес-цілей. Наші заняття призначені для всіх рівнів досвіду, від початківця до просунутого, і проводяться сертифікованими та досвідченими інструкторами, які віддані справі допомогти вам покращити ваше загальне самопочуття.</div>
        </div>
        <div class="description__content description__content--reverse">
        <div class="description__img_wrapper">
        <img src="https://i.imgur.com/FqnuReB.png" alt="audio" class="description__audio_img">
        </div>
        <div class="description__text_audio">Наша студія оснащена найсучаснішим обладнанням і технологіями, щоб у вас було все необхідне для безпечного та ефективного тренування. Тож незалежно від того, чи хочете ви покращити свою гнучкість, набратися сили чи просто зняти стрес і розслабитися, на наших заняттях з йоги та тренувань знайдеться щось для кожного. Приєднуйтеся до нас і почніть свій шлях до здорового та щасливого себе!</div>
      </div>
    </div>
    </div>
  </section>
</body>
</html>