<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="home/#workouts">ТРЕНУВАННЯ</a></li>
          <li class="nav__item"><a href="home/#subscriptions">АБОНЕМЕНТИ</a></li>
          <li class="nav__item"><a href="home/#coaches">ТРЕНЕРА</a></li>
          <li *ngIf="!currentUser" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/register">РЕЄСТРАЦІЯ</a></li>
          <li *ngIf="!currentUser" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/login">УВІЙТИ</a></li>
          <li *ngIf="!currentUser" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/login-coach">ТРЕНЕРУ</a></li>
          
          <li *ngIf="currentUser && currentUser.role_name === 'user'" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/userProfile">Профіль Користувача</a></li>
          <li *ngIf="currentUser && currentUser.role_name === 'user'" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/home" (click)="authService.logoutUser()">Вийти</a></li>
          <li *ngIf="currentUser && currentUser.role_name === 'coach'" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/coachProfile">Профіль Тренера</a></li>
          <li *ngIf="currentUser && currentUser.role_name === 'coach'" class="button nav__item"><a class="nav__link nav__link--highlight" routerLink="/home" (click)="authService.logoutUser()">Вийти</a></li>
        </ul>
      </nav>
    </div>
  </header>
</html>
