@import "~bootstrap/dist/css/bootstrap.css";

.page__body {
  background-color: #F4EEEE;
}

.container {
  display: grid;
  width: 1528px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}



