<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="workouts">
      <div class="workouts__wrapper">
      <div *ngIf="workouts.length > 0; else noWorkouts">
        <h2 class="workouts__plans">НАШІ ТРЕНУВАННЯ</h2>
        <div *ngFor="let workout of workouts" class="workout__item">
          <div class="text-section">
          <p class="workout_name">{{ workout.workout_name }}</p>
          <p class="workout_desc">{{ workout.description }}</p>
        </div>
          <img [src]="workout.img_src" alt="Workout Image" class="workout_img">
        </div>
      </div>
    </div>
      <ng-template #noWorkouts>
        <p>На жаль зараз тренування відсутні.</p>
      </ng-template>
  </section>
</body>
</html>
